*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blanco: #F2F1F6;
    --rosa: #E05D6F;
    --rosa-oscuro: #D4355B;
    --jade: #10A19D;
    --jade-oscuro: #058b87;;
    --morado: #9D7AE7;
    --morado-oscuro: #6A45B9;
    --amarillo: #F2BE22;
    --amarillo-claro: #FFD557;
    --font-gris: #535458;
    --font-gris-claro: #A3A6B1;
    --font-negro: #01000C;
    --font-base: 'Nunito', sans-serif;
}

::placeholder{
    color: var(--font-gris-claro);
}

/* width */
::-webkit-scrollbar {
    width: .3rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .3rem var(--font-gris-claro);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: var(--morado);
    border-radius: 1rem;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: var(--morado-oscuro);
    }

body{
    width: 100vw;
    height: 100vh;
    font-family: var(--font-base);
    font-size:62.5%;
    overflow-x: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--blanco);
}


main #content{
    width: 100vw;
    height: 100vh;
}

.hide {
    display: none !important;
}

.show {
    display: flex !important;
}

/* Pantalla de carga */
main #content .loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #content .loading img{
    width: 75%;
}

/* Pantalla: Bienvenida */
main #content .inicio{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #f5a293, #ee8a81, #e67172, #de5665, #d4355b);
}

main #content .inicio .inicio-logo{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main #content .inicio .inicio-logo img{
    width: 75%;
}

main #content .inicio .inicio-bienvenida{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #content .inicio .inicio-bienvenida img{
    width: 85%;
}

main #content .inicio .inicio-botones{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    color: var(--blanco);
}

main #content .inicio .inicio-botones a{
    font-size: 6vw;
    color: var(--blanco);
    text-decoration: none;
}

main #content .inicio .inicio-botones span{
    margin: 0 5vw;
}

/* Pantalla: Registro Usuario */
main #content .registro-usuario{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main #content .registro-usuario .imagen{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

main #content .registro-usuario .imagen img{
    height: 70%;
}

main #content .registro-usuario .campos-registro {
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main #content .registro-usuario .campos-registro p{
    font-size: 2.5vw;
    color: var(--rosa-oscuro);
    margin-top: .3rem;
}

main #content .registro-usuario .campos-registro label{
    font-size: 3.5vw;
    color: var(--font-gris);
}

main #content .registro-usuario .campos-registro div {
    width: 80%;
    display: flex;
    flex-direction: column;
}

main #content .registro-usuario .campos-registro div input{
    border: 0;
    border-bottom: .1rem solid var(--rosa);
    margin-top: 2%;
    padding-bottom: 0.4vh;
    background: none;
    font-size: 3.5vw;
    outline: none;
}

main #content .registro-usuario .botonesRegistro{
    height: 28vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main #content .registro-usuario .botonesRegistro .registroCorreo{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

main #content .registro-usuario .botonesRegistro .registroCorreo input{
    height: 90%;
    width: 70%;
    border: 0;
    border-radius: 1rem;
    background-color: var(--jade);
    color: var(--blanco);
    font-size: 3.5vw;
    font-weight: 600;
    cursor: pointer;
}

main #content .registro-usuario .botonesRegistro .registroCorreo input:hover{
    background-color: var(--jade-oscuro);
}
main #content .registro-usuario .botonesRegistro .registroGoogle button:hover{
    color: var(--jade-oscuro);
    border: .15rem solid var(--jade-oscuro);
}
main #content .registro-usuario .botonesRegistro .volverInicioSesion a:hover{
    color: var(--jade-oscuro);
}

main #content .registro-usuario .botonesRegistro .registroGoogle{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main #content .registro-usuario .botonesRegistro .registroGoogle button{
    height: 90%;
    width: 70%;
    border: .15rem solid var(--jade);
    border-radius: 1rem;
    background: none;
    color: var(--jade);
    font-size: 3.5vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main #content .registro-usuario .botonesRegistro .registroGoogle button img{
    width: 10%;
    margin: 0 1.5vw;
}

main #content .registro-usuario .botonesRegistro .volverInicioSesion{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
    font-size: 3.5vw;
    color: var(--font-negro);
}

main #content .registro-usuario .botonesRegistro .volverInicioSesion a{
    text-decoration: none;
    padding-left: .5rem;
    color: var(--jade);
}

/* Pantalla: Inicio Sesion */
main #content .inicio-sesion{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #content .inicio-sesion .imagen{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

main #content .inicio-sesion .imagen img{
    width: 70%;
}

main #content .inicio-sesion .camposInicioSesion{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

main #content .inicio-sesion .camposInicioSesion div{
    display: flex;
    flex-direction: column;
    width: 80%;
}

main #content .inicio-sesion .camposInicioSesion div input{
    border: 0;
    border-bottom: .1rem solid var(--rosa);
    margin-top: 2%;
    padding-bottom: 0.4vh;
    background: none;
    font-size: 3.5vw;
    outline: none;
}

main #content .inicio-sesion .camposInicioSesion label{
    font-size: 3.5vw;
    color: var(--font-gris);
}

main #content .inicio-sesion .camposInicioSesion p{
    font-size: 2.5vw;
    color: var(--rosa-oscuro);
    margin-top: .3rem;
}

main #content .inicio-sesion .botonesInicioSesion{
    width: 100%;
    height: 28%;
}

main #content .inicio-sesion .botonesInicioSesion .iniciarSesion{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

main #content .inicio-sesion .botonesInicioSesion .iniciarSesion input{
    height: 90%;
    width: 70%;
    border: 0;
    border-radius: 1rem;
    background-color: var(--jade);
    color: var(--blanco);
    font-size: 3.5vw;
    font-weight: 600;
    cursor: pointer;
}

main #content .inicio-sesion .botonesInicioSesion .iniciarSesion input:hover{
    background-color: var(--jade-oscuro);
}

main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle button:hover{
    color: var(--jade-oscuro);
    border: .15rem solid var(--jade-oscuro);
}

main #content .inicio-sesion .botonesInicioSesion .volverRegistro a:hover{
    color: var(--jade-oscuro);
}

main #content .inicio-sesion .botonesInicioSesion .resetContrasena a:hover{
    color: var(--jade-oscuro);
}

main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle button{
    height: 90%;
    width: 70%;
    border: .15rem solid var(--jade);
    border-radius: 1rem;
    background: none;
    color: var(--jade);
    font-size: 3.5vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle button img{
    width: 10%;
    margin: 0 1.5vw;
}

main #content .inicio-sesion .botonesInicioSesion .volverRegistro{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
    font-size: 3.5vw;
    color: var(--font-negro);
}

main #content .inicio-sesion .botonesInicioSesion .volverRegistro a{
    text-decoration: none;
    padding-left: .5rem;
    color: var(--jade);
}

main #content .inicio-sesion .botonesInicioSesion .resetContrasena{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
}

main #content .inicio-sesion .botonesInicioSesion .resetContrasena a{
    text-decoration: none;
    padding-left: .5rem;
    color: var(--jade);
}

/* 404 */
main #content .error404{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main #content .error404 img{
    width: 70%;
}

main #content .error404 h3{
    margin-top: 2rem;
    color: var(--rosa);
    font-size: 3.5vw;
}

/* formulario de Registro: Mascota */
main #content .formularioMascota{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main #content .formularioMascota .logo{
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #content .formularioMascota .logo img{
    width: 72%;
}

main #content .formularioMascota .fotoPerfil{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #content .formularioMascota .fotoPerfil figure{
    width: 8rem;
    height: 8rem;
    border: .2rem solid var(--font-gris-claro);
    border-radius: 50%;
}

main #content .formularioMascota .fotoPerfil figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

main #content .formularioMascota .fotoPerfil .addImageButton{
    background-color: var(--font-gris);
    color: var(--blanco);
    position: absolute;
    right: 34%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 6vw;
    cursor: pointer;
    top: 28%;
    text-align: center;
}

main #content .formularioMascota .fotoPerfil .addImageButton:hover{
    background-color: var(--font-gris-claro);
}

main #content .formularioMascota form{
    height: 58vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main #content .formularioMascota form p{
    font-size: 2.5vw;
    color: var(--rosa-oscuro);
    margin-top: .3rem;
}

main #content .formularioMascota form div{
    width: 80%;
    display: flex;
    flex-direction: column;
}

main #content .formularioMascota form label{
    font-size: 3.5vw;
    color: var(--font-gris);
}

main #content .formularioMascota form input{
    border: 0;
    border-bottom: .1rem solid var(--rosa);
    margin-top: 2%;
    padding-bottom: 0.4vh;
    background: none;
    font-size: 3.5vw;
    outline: none;
}

main #content .formularioMascota form .formP2{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

main #content .formularioMascota form .formP2 .formEdad{
    width: 23%;
}

main #content .formularioMascota form .formP2 .formDogSex{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

main #content .formularioMascota form .formP2 .formDogSex .sexOptions{
    flex-direction: row;
    width: 100%;
}

main #content .formularioMascota form .formP2 .formDogSex .sexOptions div{
    flex-direction: row;
    display: flex;
}

main #content .formularioMascota form .formP2 .formDogSex .sexOptions div input{
    margin-left: 10%
}

main #content .formularioMascota form .formP3 .tallaOps{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2%;
}

main #content .formularioMascota form .formP3 .tallaOps div{
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 25%;
}

main #content .formularioMascota form .formP3 .tallaOps div input{
    margin-left: 10%;
    margin-top: 0;
}

main #content .formularioMascota form .formP4{
    flex-direction: row;
    justify-content: space-between;
}

main #content .formularioMascota form .formP4 div{
    flex-direction: row;
    align-items: center;
    width: 45%;
}

main #content .formularioMascota form .formP4 div input{
    margin-top: 0;
    margin-right: 10%;
}

main #content .formularioMascota .botonGuardar{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
}

main #content .formularioMascota .botonGuardar input{
    height: 90%;
    width: 70%;
    border: 0;
    border-radius: 1rem;
    background-color: var(--jade);
    color: var(--blanco);
    font-size: 3.5vw;
    font-weight: 600;
    cursor: pointer;
}

main #content .formularioMascota .botonGuardar input:hover{
    background-color: var(--jade-oscuro);
}

/* Recuperar Contaseña */
main #content .recuperarContraseña{
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

main #content .recuperarContraseña .imagen{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

main #content .recuperarContraseña .imagen img{
    height: 70%;
}

main #content .recuperarContraseña .contenidoInputs{
    height: 45%;
    display: flex;
    flex-direction: column;
}

main #content .recuperarContraseña .camposRecuperacion{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main #content .recuperarContraseña .camposRecuperacion label{
    width: 80%;
    font-size: 3.5vw;
    color: var(--font-gris);
}

main #content .recuperarContraseña .camposRecuperacion input{
    width: 80%;
    border: 0;
    border-bottom: .1rem solid var(--rosa);
    margin-top: 2%;
    padding-bottom: 0.4vh;
    background: none;
    font-size: 3.5vw;
    outline: none;
}

main #content .recuperarContraseña .camposRecuperacion p{
    width: 80%;
    margin-top: .3rem;
    font-size: 2.5vw;
    color: var(--rosa-oscuro);
}

main #content .recuperarContraseña .botonRecuperacion{
    height: 60%;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

main #content .recuperarContraseña .botonRecuperacion .recuperarContrasena{
    height: 28%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main #content .recuperarContraseña .botonRecuperacion .recuperarContrasena input{
    height: 90%;
    width: 70%;
    border: 0;
    border-radius: 1rem;
    background-color: var(--jade);
    color: var(--blanco);
    font-size: 3.5vw;
    font-weight: 600;
    cursor: pointer;
}

main #content .recuperarContraseña .botonRecuperacion .recuperarContrasena input:hover{
    background-color: var(--jade-oscuro);
}

main #content .recuperarContraseña .botonRecuperacion .volverInicioSesion a:hover{
    color: var(--jade-oscuro);
}

main #content .recuperarContraseña .botonRecuperacion .volverInicioSesion{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
    font-size: 3.5vw;
    color: var(--font-negro);
}


main #content .recuperarContraseña .botonRecuperacion .volverInicioSesion a{
    text-decoration: none;
    color: var(--jade);
    padding-left: .5rem;
}

main #content .recuperarContraseña .contenidoMensaje{
    height: 60%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

main #content .recuperarContraseña .contenidoMensaje .mailImg{
    width: 100%;
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
}

main #content .recuperarContraseña .contenidoMensaje .mailImg img{
    width: 32%;
}

main #content .recuperarContraseña .contenidoMensaje .mensajes{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--font-gris);
}

main #content .recuperarContraseña .contenidoMensaje .mensajes p{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
}

main #content .recuperarContraseña .contenidoMensaje .mensajes span{
    width: 55%;
    font-size: 3.9vw;
    text-align: center;
    height: 45%;
}

main #content .recuperarContraseña .contenidoMensaje .boton{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main #content .recuperarContraseña .contenidoMensaje .boton input{
    width: 70%;
    height: 52%;
    border: 0;
    border-radius: 1rem;
    background-color: var(--jade);
    color: var(--blanco);
    font-size: 3.5vw;
    font-weight: 600;
    cursor: pointer;
}

/* home */
main #content .Home{
    width: 100vw;
    height: 20vh;
    position: sticky;
    top: 0;
    background-color: var(--blanco);

}

/* Header */
main #content .header{
    width: 100%;
    height: 100%;
}

main #content .header .headerSuperior{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main #content .header .headerSuperior .logoButton{
    width: 50%;
}

main #content .header .headerSuperior .profileImage{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 5%;
    border: .12rem solid var(--jade);
    cursor:pointer;
}

main #content .header .headerSuperior .profileImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

main #content .header .headerSuperior .menuContainer {
    display: none;
    position: absolute;
    border-radius: .5rem;
    box-shadow: 0 .4rem 1rem var(--font-gris-claro);
    background-color: var(--blanco);
    width: 28%;
    height: 50%;
    right: 4%;
    top: 60%;
    z-index: 100; /*poner elemento al frente*/
}
main #content .header .headerSuperior .menuContainer .menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main #content .header .headerSuperior .menuContainer .menu .opciones {
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

main #content .header .headerSuperior .menuContainer .menu .opciones input {
    color: var(--font-gris);
    text-decoration: none;
    background: none;
    border: 0;
    font-size: 3vw;
    padding: 3%;
    cursor: pointer;
}

main #content .header .headerSuperior .menuContainer .menu .opciones input:hover {
    background-color: var(--jade);
    color: var(--blanco);
}

main #content .header .headerInferior{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0 5%;
}

main #content .header .headerInferior .searchContainer{
    width: 85%;
    display: flex;
    height: 85%;
    align-items: center;
}

main #content .header .headerInferior .searchContainer .searcher{
    width: 100%;
    height: 80%;
    border: .1rem solid var(--rosa);
    border-radius: .5rem;
    text-indent: 1rem;
    outline: none;
    font-size: 3.7vw;
}

main #content .header .headerInferior .searchContainer .searcher:hover{
    border: .1rem solid var(--rosa-oscuro);
}

main #content .header .headerInferior .searchContainer .searcherIcon{
    width: 4%;
    position: absolute;
    left: 74%;
    z-index: 1; /*poner elemento al frente*/
}

main #content .header .headerInferior .matchBtnContainer{
    width: 15%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main #content .header .headerInferior .matchBtnContainer button{
    width: 90%;
    height: 80%;
    background-color: var(--rosa);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #content .header .headerInferior .matchBtnContainer button:hover{
    background-color: var(--rosa-oscuro);
}

main #content .header .headerInferior .matchBtnContainer button img{
    width: 60%;
}
/*Crear Post*/
main #content .CreacionPost{
    width: 100vw;
    height: 20vh;
    border-top: .1rem solid var(--morado);
    border-bottom: .1rem solid var(--morado);
    margin-top: 3%;
}

main #content .CreacionPost .post{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #content .CreacionPost .post #ingresoPost{
    width: 90%;
    height: 70%;
    border: none;
    font-family: var(--font-base);
    color: var(--font-negro);
    font-size: 4vw;
    background: none;
    outline: none;
    resize: none;
}

main #content .CreacionPost .botones{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
}

main #content .CreacionPost .botones .postImageBtn{
    width: 20%;
    display: flex;
    justify-content: center;
    height: 100%;
}

main #content .CreacionPost .botones .postImageBtn .addImageButton img{
    width: 2.5rem;
    cursor: pointer;
}

main #content .CreacionPost .botones .ladraloBtn{
    width: 27%;
    height: 100%;
}

main #content .CreacionPost .botones .ladraloBtn button{
    background-color: var(--jade);
    border: none;
    color: var(--blanco);
    width: 100%;
    height: 70.4%;
    border-radius: .5rem;
    font-size: 3.3vw;
    font-weight: 600;
    cursor: pointer;
}

main #content .CreacionPost .botones .ladraloBtn button:hover{
    background-color: var(--jade-oscuro);
}

/*TimeLine------------------------------------------------------------*/
main #content .Timeline{
    background-color: var(--blanco);
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

main #content .Timeline .postPublicado{
    height: auto;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

main #content .Timeline .postPublicado .postIndividual{
    height: auto;
    /*cambios Pris: 11rem o 15*/
    width: 90%;
    display: flex;
    flex-direction: column;
    /*Align items añadido por Pris*/
    align-items: center;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado{
    height: 5rem;
    width: 100%;
    display: flex;
    margin-top: 3%;
}
main #content .Timeline .postPublicado .postIndividual .postEncabezado .name{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3%;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .name .nameSuperior{
    height: 45%;
    display: flex;
    align-items: flex-end;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .name .nameSuperior .nombreMascota{
    font-size: 3.5vw;
    color: var(--font-gris);
    font-weight: 600;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .name .nameSuperior .username{
    font-size: 2.5vw;
    margin-left: 2%;
    padding-bottom: 1%;
    color: var(--font-gris-claro);
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .name .tiempo{
    font-size: 2.2vw;
    margin-top: 1%;
    color: var(--font-gris);
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .postOptionsContainer{
    width: 15%;
    margin-top: 2%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .postOptionsContainer .editarPost{
    width: 40%;
    background: none;
    border: none;
    cursor: pointer;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .postOptionsContainer .editarPost img{
    width: 80%;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .postOptionsContainer .borrarPost{
    width: 40%;
    background: none;
    border: none;
    cursor: pointer;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .postOptionsContainer .borrarPost img{
    width: 80%;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .imagenCabecera{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 3%;
}

main #content .Timeline .postPublicado .postIndividual .postEncabezado .imagenCabecera .imgUsuario{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

main #content .Timeline .postPublicado .postIndividual .postTexto{
    height: auto;
    width: 100%;
    color: var(--font-negro);
    margin-top: 3%;
}
/*A;adido por Pris*/
main #content .Timeline .postPublicado .postIndividual .postTexto p{
    font-size: 0.8rem;
}

main #content .Timeline .postPublicado .postIndividual .postImagen {
    width: auto;
    height: auto;
    margin-top: 3%;
}
main #content .Timeline .postPublicado .postIndividual .postImagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

main #content .Timeline .postPublicado .postIndividual .postBotones{
    width: 100%;
    margin-top: 3%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-bottom: 2%;
    border-bottom: 0.1rem solid var(--morado);
    align-items: center;
}

main #content .Timeline .postPublicado .postIndividual .postBotones button{
    border: none;
}

main #content .Timeline .postPublicado .postIndividual .postBotones .likes{
    height: 100%;
}

main #content .Timeline .postPublicado .postIndividual .postBotones .likes .likeImage{
    height: 100%;
    border: none;
    cursor: pointer;
}
main #content .Timeline .postPublicado .postIndividual .postBotones .contadorLikes{
    margin-left: 1%;
    color: var(--font-gris);
    font-size: 3vw;
}

main #content .Timeline .postPublicado .postIndividual .mensajeConfirmacionBorrar{
    position: absolute;
    background: var(--blanco);
    box-shadow: 0 .4rem 1rem var(--font-gris-claro);
    width: 75%;
    height: 13%;
    border-radius: .5rem;
    margin-top: 6%;
    margin-left: 8%;
}
/* Final TimeLine-----------------------------------------------------*/


/* Responsive Design */
@media screen and (min-width: 500px){
    /* Pantalla: Bienvenida */
    main #content .loading img{
        width: 55%;
    }
    main #content .inicio .inicio-logo img{
        width: 60%;
    }

    main #content .inicio .inicio-bienvenida{
        margin-top: 5%;
    }

    main #content .inicio .inicio-bienvenida img{
        width: 70%;
    }

    main #content .inicio .inicio-botones{
        font-size: 6vw;
        height: 15%;
    }

    main #content .inicio .inicio-botones a{
        font-size: 5vw;
    }

    /* Pantalla: Registro Usuario */
    main #content .registro-usuario .campos-registro div {
        width: 60%;
    }

    main #content .registro-usuario .botones-registro #registroCorreoBtn {
        width: 50%;
    }

    main #content .registro-usuario .botones-registro-google #registroGmailBtn {
        width: 50%;
    }
    /* Termina: Registro Usuario */

    /* Pantalla: Recuperar Contraseña */
    main #content .recuperarContraseña .imagen img {
        height: 75%;
    }
    main #content .recuperarContraseña .botonRecuperacion .recuperarContrasena {
        height: 40%;
    }
    main #content .recuperarContraseña .botonRecuperacion .recuperarContrasena input {
        border-radius: 0.6rem;
    }
    main #content .recuperarContraseña .botonRecuperacion .volverInicioSesion p{
        font-size: 3.2vw;
    }
    main #content .recuperarContraseña .botonRecuperacion .volverInicioSesion a{
        font-size: 3.2vw;
    }
    /*Recuperar contraseña: Correo enviado*/
    main #content .recuperarContraseña {
        justify-content: space-around;
    }
    main #content .recuperarContraseña .contenidoMensaje {
        height: 65%;
        justify-content: flex-start;
    }
    main #content .recuperarContraseña .contenidoMensaje .mailImg {
        height: 31%;
    }
    main #content .recuperarContraseña .contenidoMensaje .mailImg img {
        width: 25%;
    }
    main #content .recuperarContraseña .contenidoMensaje .mensajes p {
        font-size: 4vw;
    }
    main #content .recuperarContraseña .contenidoMensaje .mensajes span {
        font-size: 3vw;
        width: 50%;
    }
    main #content .recuperarContraseña .contenidoMensaje .boton {
        height: 23%;
    }
    main #content .recuperarContraseña .contenidoMensaje .boton input {
        height: 59%;
        border-radius: 0.6rem;
    }

/* Formulario de Registro Mascota */
    main #content .formularioMascota .logo{
        height: 13%;
    }
    main #content .formularioMascota .logo img{
        width: 32%;
    }
    main #content .formularioMascota .fotoPerfil{
        height: 15%;
    }
    main #content .formularioMascota .fotoPerfil figure{
        height: 4.6rem;
        width: 4.6rem;
    }
    main #content .formularioMascota .fotoPerfil .addImageButton{
        top: 23%;
        right: 42%;
        width: 1.3rem;
        height: 1.3rem;
        font-size: 3.9vw;
    }
    main #content .formularioMascota form {
        height: 63%;
    }
    main #content .formularioMascota form div{
        width: 55%;
    }
    main #content .formularioMascota form div label{
        font-size: 2.8vw;
    }
    main #content .formularioMascota form div input{
        font-size: 2.8vw;
    }
    main #content .formularioMascota form div #nombreMascota{
        font-size: 2.8vw;
    }
    main #content .formularioMascota form div p{
        font-size: 2vw;
    }
    main #content .formularioMascota .botonGuardar{
        height: 9%;
    }
    main #content .formularioMascota .botonGuardar input{
        height: 76%;
        width: 50%;
        font-size: 2.8vw;
    }
    /* registro */
    main #content .registro-usuario .imagen{
        height: 18%;
    }
    main #content .registro-usuario .imagen img{
        height: 80%;
    }
    main #content .registro-usuario .campos-registro{
        height: 50vh;
        margin-top: 2%;
    }
    main #content .registro-usuario .campos-registro label{
        font-size: 3.3vw;
    }
    main #content .registro-usuario .campos-registro div input{
        font-size: 3.3vw;
    }
    main #content .registro-usuario .botonesRegistro{
        height: 30vh;
        padding-top: 2%;
    }
    main #content .registro-usuario .botonesRegistro .registroCorreo{
        height: 32%;
    }
    main #content .registro-usuario .botonesRegistro .registroCorreo input{
        width: 55%;
        font-size: 3vw;
    }
    main #content .registro-usuario .botonesRegistro .registroGoogle{
        height: 32%;
    }
    main #content .registro-usuario .botonesRegistro .registroGoogle button{
        width: 55%;
        font-size: 3vw;
    }
    main #content .registro-usuario .botonesRegistro .volverInicioSesion{
        font-size: 3vw;
        height: 13%;
    }
    main #content .registro-usuario .campos-registro p{
        font-size: 2.3vw;
    }
    /*Inicio sesión*/
    main #content .inicio-sesion {
        justify-content: space-evenly;
    }
    main #content .inicio-sesion .imagen {
        height: 17%;
        justify-content: space-evenly;
    }
    main #content .inicio-sesion .imagen img {
        width: 45%;
    }
    main #content .inicio-sesion .camposInicioSesion {
        height: 25%;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarSesion {
        height: 28%;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarSesion input {
        width: 55%;
        height: 100%;
        /* border-radius: 0.6rem; */
        font-size: 3vw;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle {
        height: 28%;
        margin-top: 2%;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle button {
        height: 100%;
        width: 55%;
        /* border-radius: 0.6rem; */
        font-size: 3vw;
    }
    main #content .inicio-sesion .botonesInicioSesion .volverRegistro {
        font-size: 3vw;
    }
    main #content .inicio-sesion .botonesInicioSesion .resetContrasena {
        font-size: 3vw;
        margin-top: 2%;
    }
    /*Home*/
    main #content .header .headerSuperior {
        padding: 0 10%;
    }
    main #content .header .headerSuperior .logoButton {
        width: 35%;
    }
    main #content .header .headerSuperior .profileImage {
        width: 3.6rem;
        height: 3.6rem;
    }
    main #content .header .headerInferior {
        justify-content: center;
    }
    main #content .header .headerInferior .searchContainer {
        width: 70%;
    }
    main #content .header .headerInferior .searchContainer .searcher {
        font-size: 3vw;
    }
    main #content .header .headerInferior .searchContainer .searcherIcon {
        left: 69%;
        width: 3%;
    }
    main #content .header .headerInferior .matchBtnContainer {
        justify-content: center;
    }
    main #content .header .headerInferior .matchBtnContainer button {
        width: 65%;
    }
    main #content .header .headerInferior .matchBtnContainer button img {
        width: 52%;
    }
    main #content .CreacionPost {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-inline: auto;
    }
    main #content .CreacionPost .post #ingresoPost {
        font-size: 3vw;
    }
    main #content .CreacionPost .botones .postImageBtn {
        width: 12%;
    }
    main #content .CreacionPost .botones .postImageBtn .addImageButton img {
        width: 2rem;
    }
    main #content .CreacionPost .botones .ladraloBtn button {
        height: 80%;
        font-size: 3vw;
    }
    main #content .Timeline {
        display: flex;
        justify-content: space-evenly;
    }
    main #content .Timeline .postPublicado {
        width: 80%;
    }
    main #content .Timeline .postPublicado .postIndividual {
        width: 100%;
    }
    main #content .Timeline .postPublicado .postIndividual .postEncabezado .imagenCabecera {
        width: 3.6rem;
        height: 3.6rem;
    } 
    main #content .Timeline .postPublicado .postIndividual .postEncabezado .name {
        padding-bottom: 5%;
    }
}

@media screen and (min-width: 960px){
    main #content .loading img{
        width: 40%;
    }

    main #content .inicio .inicio-logo{
        align-items: center;
    }

    main #content .inicio .inicio-logo img{
        width: 30%;
        /*width: 40%;*/
    }

    main #content .inicio .inicio-bienvenida{
        align-items: flex-end;
        /*otro cambio*/
        margin-top: 3%;
    }

    main #content .inicio .inicio-bienvenida img{
        width: 35%;
        /* width: 50%; */
    }

    main #content .inicio .inicio-botones{
        font-size: 3vw;
        /*font-size: 4.5vw;*/
    }

    main #content .inicio .inicio-botones a{
        font-size: 2.8vw;
        /*font-size: 4vw;*/
    }

    /* Pantalla: Registro Usuario */
    main #content .registro-usuario  {
        width: 50%;
        display: block;
        margin: 0 0 0 auto ;
    }
    /* Termina: Registro Usuario */
    /* Pantalla: Recuperar Contraseña */
    main #content .recuperarContraseña {
        justify-content: space-around;
    }
    main #content .recuperarContraseña .imagen {
        justify-content: space-evenly;
    }
    main #content .recuperarContraseña .imagen img {
        height: 85%;
    }
    main #content .recuperarContraseña .contenidoInputs {
        height: 52%;
    }
    main #content .recuperarContraseña .camposRecuperacion {
        height: 37%;
        justify-content: flex-start;
    }
    main #content .recuperarContraseña .camposRecuperacion label {
        font-size: 2.2vw;
        width: 40%;
    }
    main #content .recuperarContraseña .camposRecuperacion input {
        font-size: 2.2vw;
        width: 40%;
    }
    main #content .recuperarContraseña .camposRecuperacion p {
        font-size: 1.2vw;
        width: 40%;
    }
    main #content .recuperarContraseña .botonRecuperacion .recuperarContrasena {
        height: 35%;
    }
    main #content .recuperarContraseña .botonRecuperacion .recuperarContrasena input {
        font-size: 1.9vw;
        width: 36%;
        border-radius: 0.6rem;
    }
    main #content .recuperarContraseña .botonRecuperacion .volverInicioSesion p {
        font-size: 1.7vw;
    }
    main #content .recuperarContraseña .botonRecuperacion .volverInicioSesion a {
        font-size: 1.7vw;
    }
    /*Recuperar contraseña: Correo enviado*/
    main #content .recuperarContraseña .imagen {
        justify-content: flex-end;
    }
    main #content .recuperarContraseña .contenidoMensaje .mailImg img {
        width: 13%;
    }
    main #content .recuperarContraseña .contenidoMensaje .mensajes p {
        font-size: 2.2vw;
    }
    main #content .recuperarContraseña .contenidoMensaje .mensajes span {
        font-size: 1.7vw;
        width: 29%;
    }
    main #content .recuperarContraseña .contenidoMensaje .boton input {
        width: 36%;
        font-size: 2.1vw;
    }
    /*Termina: Recuperar Contraseña */

    /* registro */
    main #content .registro-usuario{
        margin: 0;
        display: flex;
        align-items: center;
        width: 100%;
    }
    main #content .registro-usuario .campos-registro div{
        width: 55%;
    }
    main #content .registro-usuario .campos-registro{
        width: 80%;
        justify-content: space-between;
        height: 48vh;
        margin-top: 1%;
    }
    main #content .registro-usuario .imagen img{
        height: 83%;
    }
    main #content .registro-usuario .campos-registro label{
        font-size: 1.9vw;
    }
    main #content .registro-usuario .campos-registro div input{
        font-size: 1.9vw;
        margin-top: 1%;
        padding-bottom: 0.2vh;
    }
    main #content .registro-usuario .campos-registro p{
        font-size: 1.2vw;
    }
    main #content .registro-usuario .botonesRegistro .registroCorreo input{
        width: 40%;
        font-size: 2vw;
    }
    main #content .registro-usuario .botonesRegistro .registroCorreo{
        height: 37%;
    }
    main #content .registro-usuario .botonesRegistro .registroGoogle button{
        width: 40%;
        font-size: 2vw;
    }
    main #content .registro-usuario .botonesRegistro .registroGoogle{
        height: 37%;
    }
    main #content .registro-usuario .botonesRegistro .registroGoogle button img{
        width: 8%;
    }
    main #content .registro-usuario .botonesRegistro .volverInicioSesion{
        margin-top: .7rem;
        font-size: 2vw;
    }

    /* 404 */
    main #content .error404 img{
        width: 40%;
    }
    main #content .error404 h3{
        font-size: 2.5vw;
        margin-top: 3rem;
    }

    /*Inicio de sesión*/
    main #content .inicio-sesion .imagen img {
        width: 22%;
    }
    main #content .inicio-sesion .camposInicioSesion {
        height: 30%;
    }
    main #content .inicio-sesion .camposInicioSesion div {
        width: 45%;
    }
    main #content .inicio-sesion .camposInicioSesion div input {
        font-size: 2vw;
    }
    main #content .inicio-sesion .camposInicioSesion label {
        font-size: 2vw;
    }
    main #content .inicio-sesion .camposInicioSesion p {
        font-size: 1.2vw;
    }
    main #content .inicio-sesion .botonesInicioSesion {
        height: 35%;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarSesion {
        height: 26%;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarSesion input {
        width: 40%;
        font-size: 2vw;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle {
        height: 26%;
        margin-top: 1.5%;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle button {
        width: 40%;
        font-size: 2vw;
    }
    main #content .inicio-sesion .botonesInicioSesion .volverRegistro {
        font-size: 2vw;
    }
    main #content .inicio-sesion .botonesInicioSesion .resetContrasena {
        margin-top: 1.3%;
    }
    main #content .inicio-sesion .botonesInicioSesion .resetContrasena a {
        font-size: 2vw;
    }

    /* Formulario de Registro Mascota */
    main #content .formularioMascota .logo{
        height: 11%;
    }
    main #content .formularioMascota .logo img{
        width: 15%;
    }
    main #content .formularioMascota .fotoPerfil{
        height: 13%;
    }
    main #content .formularioMascota .fotoPerfil .addImageButton{
        top: 20.5%;
        right: 46%;
        width: 1.1rem;
        height: 1.1rem;
        font-size: 1.8vw;
    }
    main #content .formularioMascota form{
        height: 67%;
    }
    main #content .formularioMascota form div{
        width: 35%;
    }
    main #content .formularioMascota form div label{
        font-size: 0.9rem;
    }
    main #content .formularioMascota form div #nombreMascota{
        font-size: 0.9rem;
    }
    main #content .formularioMascota form div input{
        font-size: 0.9rem;
    }
    main #content .formularioMascota form div p{
        font-size: 0.6rem;
    }
    main #content .formularioMascota .botonGuardar #guardarDatos{
        width: 30%;
        font-size: 1.5vw;
    }

}

@media screen and (min-width: 1350px){
    main #content .loading img{
        width: 30%;
    }

    main #content .inicio .inicio-logo img{
        width: 21%;
        /*width: 32%;*/
    }
    /*otro cambio*/
    main #content .inicio .inicio-bienvenida{
        margin-top: 1%;
    }

    main #content .inicio .inicio-bienvenida img{
        width: 25%;
        /*width: 40%;*/
    }

    main #content .inicio .inicio-botones{
        font-size: 2.3vw;
        margin-top: 1%;
        /*font-size: 3.5vw;*/
    }

    main #content .inicio .inicio-botones a{
        font-size: 1.9vw;
        /*font-size: 3vw;*/
    }

    main #content .inicio .inicio-botones span{
        margin: 0 3vw;
    }
    /* Pantalla: Recuperar Contraseña */
    main #content .recuperarContraseña {
        justify-content: space-evenly;
    }
    main #content .recuperarContraseña .camposRecuperacion label {
        width: 30%;
        font-size: 1.65vw;
    }
    main #content .recuperarContraseña .camposRecuperacion input {
        width: 30%;
        font-size: 1.65vw;
    }
    main #content .recuperarContraseña .camposRecuperacion p {
        width: 30%;
        font-size: 0.9vw;
    }
    main #content .recuperarContraseña .botonRecuperacion .recuperarContrasena {
        height: 32%;
    }
    main #content .recuperarContraseña .botonRecuperacion .recuperarContrasena input {
        width: 27%;
        font-size: 1.5vw;
    }
    main #content .recuperarContraseña .botonRecuperacion .volverInicioSesion p {
        font-size: 1.3vw;
    }
    main #content .recuperarContraseña .botonRecuperacion .volverInicioSesion a {
        font-size: 1.3vw;
    }
    /*Recuperar contraseña: imagen correo*/
    main #content .recuperarContraseña .contenidoMensaje {
        height: 65%;
    }
    main #content .recuperarContraseña .contenidoMensaje .mailImg {
        height: 37%;
    }
    main #content .recuperarContraseña .contenidoMensaje .mailImg img {
        width: 10%;
    }
    main #content .recuperarContraseña .contenidoMensaje .mensajes {
        justify-content: flex-start;
        height: 34%;
    }
    main #content .recuperarContraseña .contenidoMensaje .mensajes p {
        height: 37%;
        font-size: 1.6vw;
    }
    main #content .recuperarContraseña .contenidoMensaje .mensajes span {
        width: 20%;
        font-size: 1.2vw;
    }
    main #content .recuperarContraseña .contenidoMensaje .boton {
        height: 19%;
    }
    main #content .recuperarContraseña .contenidoMensaje .boton input {
        width: 27%;
        height: 72%;
        border-radius: 0.6rem;
        font-size: 1.5vw;
    }

    /* registro */
    main #content .registro-usuario .campos-registro div{
        width: 45%;
    }
    main #content .registro-usuario .campos-registro label{
        font-size: 1.3vw;
    }
    main #content .registro-usuario .campos-registro div input{
        font-size: 1.3vw;
        margin-top: 0;
    }
    main #content .registro-usuario .campos-registro p{
        font-size: 1vw;
    }
    main #content .registro-usuario .botonesRegistro .registroCorreo input{
        width: 33%;
        font-size: 1.5vw;
    }
    main #content .registro-usuario .botonesRegistro .registroGoogle button{
        width: 33%;
        font-size: 1.5vw;
    }
    main #content .registro-usuario .botonesRegistro .volverInicioSesion{
        font-size: 1.4vw;
    }

    /* 404 */
    main #content .error404 img{
        width: 30%;
    }
    main #content .error404 h3{
        font-size: 1.8vw;
    }
    /*Inicio sesión*/
    main #content .inicio-sesion .imagen img {
        width: 16%;
    }
    main #content .inicio-sesion .camposInicioSesion div {
        width: 36%;
    }
    main #content .inicio-sesion .camposInicioSesion label {
        font-size: 1.3vw;
    }
    main #content .inicio-sesion .camposInicioSesion div input {
        font-size: 1.3vw;
    }
    main #content .inicio-sesion .camposInicioSesion p {
        font-size: 1vw;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarSesion input {
        font-size: 1.3vw;
        width: 33%;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle button {
        font-size: 1.3vw;
        width: 33%;
    }
    main #content .inicio-sesion .botonesInicioSesion .iniciarGoogle button img {
        width: 8%;
    }
    main #content .inicio-sesion .botonesInicioSesion .volverRegistro {
        font-size: 1.3vw;
    }
    main #content .inicio-sesion .botonesInicioSesion .resetContrasena {
        margin-top: 0.6%;
    }
    main #content .inicio-sesion .botonesInicioSesion .resetContrasena a {
        font-size: 1.3vw;
    }

    /* Formulario de Registro Mascota */
    main #content .formularioMascota .logo{
        height: 11%;
    }
    main #content .formularioMascota .logo img {
        width: 10%;
    }
    main #content .formularioMascota form div{
        width: 28%;
    }
    main #content .formularioMascota .fotoPerfil .addImageButton {
        width: 1.1rem;
        height: 1.1rem;
        font-size: 1.2vw;
        top: 19%;
        right: 47%;
    }
    main #content .formularioMascota .botonGuardar #guardarDatos{
        width: 25%;
        font-size: 1.2vw;
    }
}

@media screen and (min-width: 1800px){ /* 1868 x 919 */
    main #content .inicio .inicio-logo {
        align-items: flex-end;
    }

    main #content .inicio .inicio-logo img{
        width: 25%;
    }

    main #content .inicio .inicio-bienvenida{
        margin-top: 3%;
    }

    main #content .inicio .inicio-bienvenida img{
        width: 26%;
    }

    main #content .inicio .inicio-botones{
        font-size: 2.5vw;
        height: 14%;
    }

    main #content .inicio .inicio-botones a{
        font-size: 2vw;
    }

    /* registro */
    main #content .registro-usuario .campos-registro{
        width: 70%;
        height: 44vh;
        justify-content: space-around;
    }
    main #content .registro-usuario .campos-registro label{
        font-size: 1vw;
        margin-bottom: 1%;
    }
    main #content .registro-usuario .campos-registro div input{
        font-size: 1vw;
    }
    main #content .registro-usuario .campos-registro p{
        font-size: .9vw;
    }
    main #content .registro-usuario .botonesRegistro .registroCorreo input{
        width: 28%;
        font-size: 1.3vw;
    }
    main #content .registro-usuario .botonesRegistro .registroGoogle button{
        width: 28%;
        font-size: 1.3vw;
    }
    main #content .registro-usuario .botonesRegistro .volverInicioSesion{
        font-size: 1.3vw;
        margin-top: 1rem;
    }

    /* Home */
    main #content .Home{
        display: flex;
        justify-content: center;
        height: 25vh;
    }
    main #content .header{
        width: 40%;
    }
    main #content .header .headerSuperior .logoButton{
        width: 35%;
    }
    main #content .header .headerSuperior .profileImage{
    width: 5.5rem;
    height: 5.5rem;
    border: .16rem solid var(--jade);
    }
    main #content .header .headerInferior{
        margin-top: 1%;
    }
    main #content .header .headerInferior .searchContainer .searcher{
        border: .16rem solid var(--rosa);
        font-size: 1.1vw;
    }
    main #content .header .headerInferior .searchContainer .searcherIcon{
        left: 60%;
        width: 1.6%;
    }
    main #content .header .headerInferior .matchBtnContainer button img{
        width: 50%;
    }
    main #content .header .headerSuperior .menuContainer{
        width: 9%;
        height: 72%;
        right: 32%;
        top: 58%;
    }
    main #content .header .headerSuperior .menuContainer .menu .opciones input{
        font-size: 1.1vw;
    }
    main #content .CreacionPost{
        width: 36%;
        margin-top: 1%;
        height: 22vh;
        border-top: .15rem solid var(--morado);
        border-bottom: .15rem solid var(--morado);
    }
    main #content section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main #content .CreacionPost .post #ingresoPost{
        font-size: 1.4vw;
    }
    main #content .CreacionPost .botones{
        flex-direction: row;
    }
    main #content .CreacionPost .botones .postImageBtn .addImageButton img{
        width: 3rem;
    }
    main #content .CreacionPost .botones .ladraloBtn button{
        font-size: 1.2vw;
        height: 75%;
    }
    main #content .CreacionPost .botones .postImageBtn{
        width: 12%;
    }

    main #content .Timeline{
        width: 36%;
    }
    main #content .Timeline .postPublicado .postIndividual .postEncabezado .name .nameSuperior .nombreMascota{
        font-size: 1.5vw;
    }
    main #content .Timeline .postPublicado .postIndividual .postEncabezado .name .nameSuperior .username{
        font-size: 1.1vw;
    }
    main #content .Timeline .postPublicado .postIndividual .postEncabezado .name .tiempo{
        font-size: .8vw;
    }
    main #content .Timeline .postPublicado .postIndividual .postTexto p{
        font-size: .9vw;
    }
    main #content .Timeline .postPublicado .postIndividual .postBotones{
        margin-top: 4%;
        height: 3rem;
    }
    main #content .Timeline .postPublicado .postIndividual .postBotones .contadorLikes{
        font-size: 1.2vw;
    }
    main #content .Timeline .postPublicado .postIndividual .postEncabezado .imagenCabecera{
        width: 4.7rem;
        height: 4.7rem;
    }
    main #content .Timeline .postPublicado .postIndividual .postEncabezado .name{
        padding-bottom: 1%;
    }

    /* Formulario de Registro Mascota */
    main #content .formularioMascota .logo {
        height: 14%;
    }

    main #content .formularioMascota .logo img {
        width: 12%;
    }

    main #content .formularioMascota .fotoPerfil {
        height: 13%;
    }

    main #content .formularioMascota .fotoPerfil figure {
        height: 7rem;
        width: 7rem;
    }
    main #content .formularioMascota .fotoPerfil .addImageButton {
        top: 23%;
        right: 47%;
        width: 1.6rem;
        height: 1.6rem;
        font-size: 1.25vw;
    }

    main #content .formularioMascota form {
        height: 60%;
        width: 100%;
    }

    main #content .formularioMascota form div label {
        font-size: .9vw;
    }

    main #content .formularioMascota .botonGuardar {
        height: 13%;
    }

    main #content .formularioMascota .botonGuardar #guardarDatos {
        width: 23%;
        height: 58%;
        font-size: 1.2vw;
    }
    main #content .formularioMascota form div p{
        font-size: .7vw;
    }
    main #content .formularioMascota form div #nombreMascota{
        font-size: .9vw;
    }
}